@model BugTrackerUI.Models.ViewModels.CommentsModel

@{
    ViewBag.Title = "Index";
}

<h2>Comments</h2>

<p>
    @Html.ActionLink("Add new Comment", "Create", new { id = Model.IssueId })
</p>
@if (Model.Comments.Count != 0) {
<table class="table">
    <tr>
        <th>
            Comment
        </th>
        <th>
            Time
        </th>
        <th>
            User's email
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Comments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @if (HttpContext.Current.User.Identity.Name == item.Email)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.CommentId }) <span> | </span>
                }
                @Html.ActionLink("Delete", "Delete", new { id = item.CommentId })
            </td>
        </tr>
    }

</table>
} else {
    <h4>There are no comments yet</h4>
}
